.gallery img{
        width: 100%;
 }
h2{
    font-family: cursive;
    font-size: 22px;
    font-style: italic;
    color: #387aA7;
}
h4{
    font-family: impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
    font-weight: 800;
}

#menu{
      width:100%;
      height:40px;
      background-color: #Bbd95d;
      padding-top: 12px;
}

#menu a{
      color:#ffffff;
      font-family: Helvetica, sans-serif;
      font-size: 18px;
      text-decoration:none;
      font-weight: 800;
      
      padding-left: 20px;
      padding-right: 20px;
}

#menu a:hover{
       color: #5077bd;
}